{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <div class="ma__pagination">
    <div class="ma__pagination__container">
      <h4 id="pagination-heading" class="ma__visually-hidden">{{ 'Pagination'|t }}</h4>
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <a href="{{ items.previous.href }}"
        class="ma__pagination__prev js-pagination-prev {% if pagination.prev.disabled %}disabled{% endif %}"
        aria-label="Go to {{ items.previous.text|default('Previous'|t) }} page"
        rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
          {{ items.previous.text|default('‹ Previous'|t) }}
        </a>
      {% endif %}
{#      #}{# Add an ellipsis if there are further previous pages. #}
{#      {% if ellipses.previous %}#}
{#        <span class="ma__pagination__spacer pager__item pager__item--ellipsis" role="presentation">&hellip;</span>#}
{#      {% endif %}#}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% if current == key %}
          {% set title = 'Current page'|t %}
        {% else %}
          {% set title = 'Go to page @key'|t({'@key': key}) %}
        {% endif %}
        <a href="{{ item.href }}" class="ma__pagination__page js-pagination-page {{ current == key ? ' is-active' : '' }}" data-page="{{- key -}}" aria-label="Go to Page {{- key -}}" {{ item.attributes|without('href', 'title') }}>
            <span class="ma__visually-hidden">{{ current == key ? 'Current page'|t : 'Page '|t }} </span>
            {{- key -}}
        </a>
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
{#      {% if ellipses.next %}#}
{#        <span class="ma__pagination__spacer pager__item pager__item--ellipsis" role="presentation">&hellip;</span>#}
{#      {% endif %}#}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
       <a href="{{ items.next.href }}"
        class="ma__pagination__next js-pagination-next {% if pagination.next.disabled %}disabled{% endif %}"
        aria-label="Go to {{ items.next.text|default('Next'|t) }} page"
        rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
        {{ items.next.text|default('Next ›'|t) }}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
