<div class="survey-results">
  <div class="survey-results__column survey-left">
    <div class="survey-results__column__item">
      <span class="survey-data-label">This page is helpful</span>
      <hr />
      <span class="survey-data-value">{{ data.helpful ? data.helpful ~ "/5" : "Not entered" }}</span>
    </div>
    <div class="survey-results__column__item">
      <span class="survey-data-label">This page is easy to use</span>
      <hr />
      <span class="survey-data-value">{{ data.easy ? data.easy ~ "/5" : "Not entered" }}</span>
    </div>
    <div class="survey-results__column__item">
      <span class="survey-data-label">I am confident that I will find the information I need</span>
      <hr />
      <span class="survey-data-value">{{ data.findable ? data.findable ~ "/5" : "Not entered" }}</span>
    </div>
    <div class="survey-results__column__item">
      <span class="survey-data-label">Personal or Professional reasons?</span>
      <hr />
      <span class="survey-data-value">{{ data.reason ? data.reason : "Not selected" }}</span>
    </div>
    <div class="survey-results__column__item">
      <span class="survey-data-label">Email</span>
      <hr />
      <span class="survey-data-value">{{ data.email ? data.email : "Not entered" }}</span>
    </div>
  </div>
  <div class="survey-results__column survey-center">
    <div class="survey-results__column__item user-text">
      <span class="survey-data-label">What did you come here to do today?</span>
      <hr />
      <span class="survey-data-value">{{ data.purpose ? data.purpose : "Not entered" }}</span>
    </div>
  </div>
  <div class="survey-results__column survey-right">
    <div class="survey-results__column__item">
      <span class="survey-data-label">Other Feedback</span>
      <hr />
      <span class="survey-data-value">{{ data.other ? data.other : "Not entered" }}</span>
    </div>
  </div>
</div>
