<div{{ attributes }}>
{# <style> #}
{# @scope (.js-lpb-component-list) { #}
{# {{ css_content }} #}
{# } #}
{# </style> #}
  {% if is_empty %}
    <div class="lpb-empty-container__wrapper">
      <div class="lpb-empty-container">
        <div class="lpb-empty-message">{{ empty_message }}</div>
        {{ insert_button }}
      </div>
    </div>
  {% else %}
    {% if translation_warning %}
      <div class="messages messages--status">
        {{ translation_warning }}
      </div>
    {% endif %}
  <div class="ma__rich-text" dir="auto">
    <div class="js-lpb-component-list">
        {{ root_components }}
    </div>
  </div>
  {% endif %}
</div>
