{#
/**
* @file
* Seven's theme implementation to list node types available for adding content.
*
* Available variables:
* - types: List of content types. Each content type contains:
*   - url: Path to the add content of this type page.
*   - label: The title of this type of content.
*   - description: Description of this type of content.
*
* @see template_preprocess_node_add_list()
* @see seven_preprocess_node_add_list()
*/
#}
{% if content %}
  <ul class="admin-category-list">
    {% for key, value in categories %}
    <li>
      <h2 class="category-header"><span id="{{ key }}"  class="type-category">{{ value }}</span> <a class="back-to-top" href="#top">Top</a></h2>
      <ul class="admin-list">
        {% for type in types %}
          {% if type.node_type_category == value %}
            <li class="clearfix admin-list-item">
              <div class="content-type-teaser-container">
                {% if type.node_type_thumbnail_path %}
                  <div class=" col ct-thumbnail"><img src="{{ type.node_type_thumbnail_path }}"></div>
                {% else %}
                  <div class="col ct-thumbnail"><img src="/modules/custom/mass_admin_pages/images/ct_thumbnail_placeholder.svg"></div>
                {% endif %}

                <div class="col details-container">
                  <h3 class="label"><a href="{{ type.url }}">{{ type.label }}</a></h3>
                  {% if type.description %}
                    {% if type.node_type_url %}
                      <div class="live-example">
                        <a href="{{ type.node_type_url }}" class="live-example-link">View live example</a>
                      </div>
                    {% endif %}
                    <div class="description">{{ type.description }}</div>
                  {% endif %}
                  {% if type.node_type_long_description %}
                    <div class="long-description">
                      <h4>The {{ type.label }} type is good for:</h4>
                      <div>{{ type.node_type_long_description|raw }}</div>
                    </div>
                  {% endif %}
                </div>

                <div class="col button-container"><a href="{{ type.url }}" class="button button-action button--add-content">Add {{ type.label }}</a></div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </li>
  </ul>

{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
  </p>
{% endif %}
