{#
/**
 * @file
 * Theme override to display the full view mode of the location content type.
 */
 #}

{% extends '@templates/01-content-types/services.twig' %}

{# title context for accessibility #}
{% set titleContextFor = ' for ' ~ node.label %}
{% set titleContextAbout = ' about ' ~ node.label %}
{% set titleContextOf = ' of ' ~ node.label %}

{% set mainContentClass = ((node.field_service_offered_by is not empty) or introSidebar) ? 'main-content--two' : 'main-content--full' %}
{% set flexibleLinkGroup = node.field_template.value == "custom" %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block header %}

{% endblock %}

{% block preContent %}
  {# If the contextual navigation should be set for this node, then add it. #}
  {% if node.field_log_in_links is not empty %}
    {{ contextual_log_in_links }}
  {% endif %}
  {% set secondaryIndicators = false %}
  {% if node.computed_related_to is not empty %}
    {% set secondaryIndicators = {
      "label": "related to"
    } %}
  {% endif %}

  {% embed "@molecules/relationship-indicators.twig" with {
    "relationshipIndicators": {
      "primary": {
        "label": "offered by"
      },
      "secondary": secondaryIndicators
    }
  } %}
    {% block primaryRelationship %}
      {{ content.field_organizations }}
    {% endblock %}
    {% block secondaryRelationship %}
      {{ content.computed_related_to }}
    {% endblock %}
  {% endembed %}

  {% set bannerImageWide = file_url(node.field_service_bg_wide.entity.fileuri) %}
  {% set bannerImageNarrow = file_url(node.field_service_bg_narrow.entity.fileuri) %}
  {# NOTE: At this time a service page node's design does not require the optional page-banner template #}
  {# values for "icon", "primaryLink", and "secondaryLink", so we don't set them. We may in the future. #}
  {% include "@organisms/by-template/page-banner.twig" with {
    "pageBanner": {
      "size": "overlay",
      "color": "blue",
      "title": node.label,
      "titleSubText": content.field_title_sub_text,
      "description": content.field_service_lede,
      "bgWide": bannerImageWide,
      "bgNarrow": bannerImageNarrow,
    }
  } %}
{% endblock %}

{# Increase heading number from the parent heading. #}
{% set level = level + 1 %}

{% block pageContentIntro %}
  {# NOTE: teaser-text conditionally also includes "@atoms/decorative-link.twig" but Service Page teaser-text does  #}
  {# not use a "learn more / read more" sort of link, so we don't pass any "decorativeLink" values to the template. #}
  {% include "@organisms/by-author/teaser-text.twig" with {
    "teaserText": {
      "richText": {
        "property": "",
        "rteElements": [{
          "path": "@atoms/11-text/paragraph.twig",
          "data": {
            "paragraph" : {
              "text": content.field_service_body
            }
          }
        }]
      },
    }
  } %}

  {% if introPageContent.video %}
    {% set video = introPageContent.video %}
    {% include "@atoms/09-media/video.twig" %}
  {% endif %}

  {% if not flexibleLinkGroup and introPageContent.keyActions %}
    {% set keyActions = introPageContent.keyActions %}
    {% set compHeading = keyActions.compHeading|merge({'level': level }) %}
    {% set keyActions = keyActions|merge({'compHeading': compHeading}) %}
    {% include "@organisms/by-author/key-actions.twig" %}
  {% endif %}
{% endblock %}

{# The sidebar can have one or more of many fields, which are right now prepared in preprocess function and populated #}
{# in the variable "introSidebar". A full template mapping of all those fields is needed. If we template map only one #}
{# field at a time Eg:field_service_offered_by, then others will not appear as we did in the commented out line below. #}
{% set introSidebar = introSidebar ?: true %}

{% block sidebarIntro %}
  {% if introSidebar.logo %}
    {% set image = introSidebar.logo %}
    {% include "@atoms/09-media/image.twig" %}
  {% endif %}
  {% if flexibleLinkGroup and node.field_log_in_links is not empty %}
    {{ content.field_log_in_links }}
  {% endif %}
  {% if introSidebar.social %}
    {% set sidebarHeading = introSidebar.social.sidebarHeading %}
    {% set sidebarHeading = sidebarHeading|merge({'level': level }) %}
    {% set iconLinks = introSidebar.social.iconLinks|merge({'compHeading' : sidebarHeading }) %}
    {% include "@molecules/icon-links.twig" %}
  {% endif %}
  {% if node.field_service_offered_by is not empty %}
    {{ content.field_service_offered_by|merge({'#level': level }) }}
  {% endif %}
{% endblock %}

{% block pageContent %}
  {% set featuredTasks = node.field_service_ref_actions_2 is not empty %}
  {% set allTasks = node.field_service_ref_actions is not empty %}
  {% set linkGroups = node.field_link_group is not empty %}
  {% set default = (node.field_template is empty or node.field_template.value == "default") %}
  {% set custom = (node.field_template.value == "custom" and linkGroups) %}
  {% set seeAll = false %}
  {% if default and (content.field_service_ref_actions['#items']|length > 6) %}
    {% set seeAll =  {
      "type": "internal",
      "href": url ~ "/tasks",
      "text": "See all " ~ (content.field_service_ref_actions['#items']|length + content.field_service_ref_actions_2['#items']|length),
      "info": "",
      "labelContext": "of the what would you like to do section"|t
    } %}
  {% endif %}
  {% if (default or custom) and (featuredTasks or allTasks or linkGroups) %}
  {% if (default) %}
    {% set featuredHeading = 'Top tasks' %}
  {% else %}
    {% set featuredHeading = 'Featured' %}
  {% endif %}
    {% embed "@organisms/by-author/action-finder.twig" with {
      "actionFinder": {
        "title": "What would you like to do?"|t,
        "featuredHeading": featuredHeading,
        "generalHeading": "All other tasks"|t,
        "featuredLinks": featuredTasks,
        "links": default and allTasks,
        "linkLists": custom and linkGroups,
        "seeAll": seeAll
      }
    } %}
      {% block featuredLinksList %}
        {{ content.field_service_ref_actions_2 }}
      {% endblock %}
      {% block actionFinderLinksList %}
        {{ content.field_service_ref_actions }}
      {% endblock %}
      {% block linkLists %}
        {{ content.field_link_group }}
      {% endblock %}
    {% endembed %}
  {% endif %}
  {# What you need to know #}
  {% if not flexibleLinkGroup and node.field_service_key_info_links_6 is not empty %}
    {# Prepare seeAll link. #}
    {% set publishedLinkCount = 0 %}
    {# Get number of published items. #}
    {% set itemCount = node.field_service_key_info_links_6|length %}
    {% if itemCount < 1 %}
      {% set links = '' %}
    {% else %}
      {% set links = [] %}
      {% set lastIndex = itemCount -1 %}
      {% for i in 0..lastIndex %}
        {% set keyInfoLink = content.field_service_key_info_links_6[i] %}
        {% set href = keyInfoLink['#url_title'] %}
        {% if '/node/' in href or href ends with '---unpublished' %}
          {# DO NOTHING if referenced item is NULL or unpublished state. #}
        {% else %}
          {% set publishedLinkCount = publishedLinkCount + 1 %}
          {% if publishedLinkCount < 7 %}
            {% set text = keyInfoLink['#title']['#markup'] ? keyInfoLink['#title']['#markup'] : keyInfoLink['#title'] %}
            {% set links = links|merge([{
              "text": text,
              "href": href
            }]) %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {# Prepare See all link. #}
    {% set seeAll = false %}
    {% if publishedLinkCount > 6 %}
      {% set text = "See all " ~ publishedLinkCount %}
      {% set seeAll = {
        "text": text,
        "labelContext": titleContextOf,
        "href": url ~ "/need-to-know"
      } %}
    {% endif %}
    {% include "@organisms/by-author/action-finder.twig" with {
      "actionFinder": {
        "title": "What you need to know"|t,
        "featuredHeading": "",
        "generalHeading": "",
        "hideFilter": true,
        "titleContext": titleContextAbout,
        "seeAll": seeAll,
        "featuredLinks": "",
        "links": links
      }
    } %}
  {% endif %}
  {% if contactList %}
    {% include "@organisms/by-author/contact-list.twig" %}
  {% endif %}
  {% if mappedLocations %}
    {% set compHeading = mappedLocations.compHeading|merge({'level': level}) %}
    {% set mappedLocations = mappedLocations|merge({'compHeading': compHeading}) %}
    {% include "@organisms/by-author/mapped-locations.twig" %}
    {{ attach_library('mass_map/google-map-api') }}
  {% endif %}
  {% if eventListing %}
    {% set compHeading = eventListing.compHeading|merge({'level': level}) %}
    {% set eventListing = eventListing|merge({'compHeading': compHeading}) %}
    {% include "@organisms/by-author/event-listing.twig" %}
  {% endif %}
  {% if default and splitColumns %}
    {% set moreInfo = "More Information"|t %}
    {# The "More Information" should only show if the split columns are being used. #}
    <div class="more-info-header">
      <h{{ level }} class="ma__comp-heading">
        {{ moreInfo }}
      </h{{ level }}>
    </div>
    {% include "@organisms/by-author/split-columns.twig" %}
  {% elseif custom and node.field_service_ref_services_6 is not empty %}
    {% set moreInfo = "Related Services"|t %}
    {# The "More Information" should only show if the split columns are being used. #}
    <div class="more-info-header">
      <h{{ level }} class="ma__comp-heading">
        {{ moreInfo }}
      </h{{ level }}>
    </div>
    {% embed "@organisms/by-author/split-columns.twig" %}
      {% block columns %}
        {{ content.field_service_ref_services_6 }}
      {% endblock %}
    {% endembed %}
  {% endif %}

  {# For the new template mapped markup to match the current PROD non-template mapped markup, image_credit will need #}
  {# it's own block, which would need mayflower change. We however place image credit inside this block because #}
  {# though the HTML markup is slightly different that way, the display of image credit remains same. #}
  {# See: https://jira.mass.gov/browse/DP-12696 #}
  {% if content.field_image_credit is not empty %}
    {{ content.field_image_credit }}
  {% endif %}
{% endblock %}

{% block schemaContent %}
  {# Produce the .post-content div if either the twig block or the theme region is present #}
  {% if _postContent is not empty or post_content %}
    <div class="post-content">
      {{ _postContent|raw }}
      {{ post_content }}
    </div>
  {% endif %}

  <div class="post-content">
    {{ content.extra_org_feedback_form }}
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
