{#
/**
 * @file
 * Theme override to display the full view mode of the Press Release content type.
 */
 #}
{% extends 'node.html.twig' %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block preContent %}
  {# Check if primary indicator content exists. #}
  {% set primaryIndicators = null %}
  {% set primaryRelationshipContent = null %}
  {#
  {% if content.computed_related_to[0] %}
    {% set primaryIndicators = { "label": "part of" } %}
    {% set primaryRelationshipContent = content.computed_related_to %}
  {% endif %}
  #}
  {% set secondaryIndicators = false %}
  {% if content.field_organizations is not empty and not is_blog_post %}
    {% set secondaryIndicators = {
      "icon": "building",
      "label": "offered by",
      "groupAfter": 3
    } %}
  {% endif %}

  {% embed "@molecules/relationship-indicators.twig" with {
    "relationshipIndicators": {
      "pageTitle": node.label,
      "primary": primaryIndicators,
      "secondary": secondaryIndicators,
      "borderless": is_blog_post and blogpostCollectionHeader.bg_color is not empty
    }
  } %}
    {% block primaryRelationship %}
      {{ primaryRelationshipContent }}
    {% endblock %}
    {% block secondaryRelationship %}
      {{ content.field_organizations }}
    {% endblock %}
  {% endembed %}

  {% if is_blog_post and blogpostCollectionHeader.bg_color is not empty %}
    {% include "@organisms/by-template/blogpost-collection-header.twig" %}
  {% endif %}

  {% if translationLinks %}
    {% include "@organisms/by-author/inline-links-language.twig" with {
      "inlineLinks": translationLinks
    } %}
  {% endif %}

  {% include "@organisms/page-header/page-header.twig" %}
{% endblock %}

{% block main %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  <div class="main-content main-content--two">

    {% set type_class = "ma__announcement__page-content--" ~ (node.field_news_type.value is not iterable ? node.field_news_type.value : '') %}
    <div class="page-content ma__announcement__page-content {{ type_class }}">
      {% if pageContent.pressStatus %}
        {% set pressStatus = pageContent.pressStatus %}
        {% include "@molecules/press-status.twig" %}
      {% endif %}
      {% if sidebar.contactList %}
        {% set contactList = sidebar.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% block pageContent %}
        {% if node.field_news_image is not empty %}
          {{ content.field_news_image }}
        {% endif %}
        {% if pageContent.video %}
          {% set video = pageContent.video %}
          {% set video = video|merge({"headingLevel": level}) %}
          {% include "@atoms/09-media/video.twig" %}
        {% endif %}
        {% if pageContent.richText %}
          {% set richText = pageContent.richText %}
          {% include "@organisms/by-author/rich-text.twig" %}
        {% endif %}
        {% if numOfSections %}
          {% for i in range(1, numOfSections) %}
            {% if pageContent[i]['title'] %}
              {% include "@atoms/04-headings/comp-heading.twig" with {
                'compHeading': pageContent[i]['title']['compHeading']
              } %}
            {% endif %}
            {% if pageContent[i]['richText'] %}
              {% set richText = pageContent[i]['richText'] %}
              {% include "@organisms/by-author/rich-text.twig" %}
            {% endif %}
            {% if pageContent[i]['keyActions'] %}
              {% set keyActions = pageContent[i]['keyActions'] %}
              {% include "@organisms/by-author/key-actions.twig" %}
            {% endif %}
            {% if pageContent[i]['formDownloads'] %}
              {% set formDownloads = pageContent[i]['formDownloads'] %}
              {% include "@organisms/by-author/form-downloads.twig" %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% if not is_blog_post %}
        {% if pageContent.contactList %}

          {% set contactList = pageContent.contactList %}
          {% set contactList = contactList|merge({'compHeading': {
              'title': contactList.compHeading.title,
              'titleContext': contactList.compHeading.titleContext,
              'level': level,
              'id': contactList.compHeading.id}}) %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
      {% endif %}
      {% if pageContent.personalMessage %}
        {% set personalMessage = pageContent.personalMessage %}
        {% set imagePromos = personalMessage.imagePromos|merge({'level': level}) %}
        {% include "@organisms/by-author/personal-message.twig" %}
      {% endif %}
    </div>

    {% set show_blogpost_author = author is not empty and is_blog_post %}

    {% set aside_has_content =
      (not is_blog_post and sidebar.contactList) or
      show_blogpost_author or is_news
    %}

    {% set author_section %}
      {% if show_blogpost_author %}
        <section>
          {% include "@atoms/04-headings/sidebar-heading.twig" with {
            'sidebarHeading': {
              'title': 'Author'|t
            }
          } %}

          {% include "@molecules/contact-us.twig" with {
            'contactUs': {
              'subTitle': {
                'text': author
              },
              'groups': [{
                "items": [{
                  "label": author_info,
                }]
              }]
            }
          } %}
        </section>
      {% endif %}
    {% endset %}

    {% if aside_has_content %}
      <aside class="sidebar ma__announcement__sidebar">
        {% if author %}
          {{ author_section }}
        {% endif %}

        {% if not is_blog_post and sidebar.contactList %}
          {% set contactList = sidebar.contactList %}
          {% set sidebarHeading = contactList.sidebarHeading|merge({'level': level}) %}
          {% set contactList = contactList|merge({'sidebarHeading': sidebarHeading}) %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
        {% if sidebar.pressListing %}
          {% set pressListing = sidebar.pressListing %}
          {% set sidebarHeading = pressListing.sidebarHeading|merge({'level': level}) %}
          {% set pressListing = pressListing|merge({'sidebarHeading': sidebarHeading}) %}
          {% include "@organisms/by-author/press-listing.twig" %}
        {% endif %}
        {% if sidebar.eventListing %}
          {% set eventListing = sidebar.eventListing %}
          {% set sidebarHeading = eventListing.sidebarHeading|merge({'level': level}) %}
          {% set eventListing = eventListing|merge({'sidebarHeading': sidebarHeading}) %}
          {% include "@organisms/by-author/event-listing.twig" %}
        {% endif %}
      </aside>

    {% endif %}
  </div>
{% endblock %}
{% block postContent %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  {% if content.field_image_credit is not empty %}
    {{ content.field_image_credit }}
  {% endif %}
  {{ content.extra_org_feedback_form }}
{% endblock %}
