{#
/**
 * @file
 * Theme override to display the full view mode of the Decision content type.
 */
 #}
{% extends 'node.html.twig' %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block preContent %}
  {# Check if primary indicator content exists. #}
  {% set primaryIndicators = null %}
  {% set primaryRelationshipContent = null %}
  {#
  {% if content.computed_related_to[0] %}
    {% set primaryIndicators = { "label": "part of" } %}
    {% set primaryRelationshipContent = content.computed_related_to %}
  {% endif %}
  #}
  {% set secondaryIndicators = false %}
  {% if content.field_organizations is not empty %}
    {% set secondaryIndicators = {
      "icon": "building",
      "label": "offered by",
      "groupAfter": 3
    } %}
  {% endif %}

  {% embed "@molecules/relationship-indicators.twig" with {
    "relationshipIndicators": {
      "pageTitle": node.label,
      "primary": primaryIndicators,
      "secondary": secondaryIndicators
    }
  } %}
    {% block primaryRelationship %}
      {{ primaryRelationshipContent }}
    {% endblock %}
    {% block secondaryRelationship %}
      {{ content.field_organizations }}
    {% endblock %}
  {% endembed %}
  {{ content.referencing_binders }}
  {% include "@organisms/by-template/page-header.twig" %}
  {% include "@organisms/by-template/page-header-addons.twig" %}
{% endblock %}

{% block main %}
{# Increase heading number by 1 from the parent heading. #}
{% set level = level + 1 %}
<div class="main-content main-content--two ma__policy-advisory__top-contact">
  <div class="page-content">
    {% block pageContent %}
      {% if sideContent.contactList %}
        {% set contactList = sideContent.contactList %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
    {% endblock %}
  </div>
</div>
<div class="ma__policy-advisory__content">
  {% include "@organisms/by-template/sticky-toc.twig" with {
    "stickyTOC": {
      "title": "Table of Contents"|t,
      "parent": ".ma__policy-advisory__content",
      "sections": ".page-content h2"
    }
  } %}
  <div class="main-content main-content--two">
    <div class="page-content">
      {% if numOfSections %}
        {% for i in range(1, numOfSections) %}
          {% if sections[i]['title'] %}
            <div class="ma__rich-text">
              {% include "@atoms/04-headings/comp-heading.twig" with {
                'compHeading': sections[i]['title']['compHeading']
              } %}
            </div>
          {% endif %}
          {% if sections[i]['richText'] %}
            {% set richText = sections[i]['richText'] %}
            {% include "@organisms/by-author/rich-text.twig" %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if content.field_decision_download|render is not empty %}
        {# Using the field_decision_download view mode to display the URL for doucments in this section. #}
        {%  embed "@organisms/by-author/form-downloads.twig" with {
          "formDownloads": {
            "compHeading": {
              "title": "Downloads",
              "id": "downloads",
              "level": level,
              "titleContext": "for " ~ node.title.value
            }
          }
        } %}
          {% block formDownloadLinks %}
            {{ content.field_decision_download }}
          {% endblock %}
        {% endembed %}
      {% endif %}
      {% if mainContent.contactList %}
        {% set contactList = mainContent.contactList %}
        {% set contactList = contactList|merge({'compHeading': {
          'title': contactList.compHeading.title,
          'titleContext': contactList.compHeading.titleContext,
          'level': level,
          'id': contactList.compHeading.id }}) %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if mainContent.footnoteList %}
        {% set footnoteList = mainContent.footnoteList %}
        {% include "@organisms/by-author/footnote-list.twig" %}
      {% endif %}
      {% if mainContent.references %}
        {% set headerTags = mainContent.references %}
        {% include "@molecules/header-tags.twig" %}
      {% endif %}
    </div>
    <aside class="sidebar">
      {% if sideContent.contactList %}
        {% set contactList = sideContent.contactList %}
        {% set sidebarHeading = contactList.sidebarHeading|merge({'level': level }) %}
        {% set contactList = contactList|merge({'sidebarHeading': sidebarHeading }) %}
        {% include "@organisms/by-author/contact-list.twig" %}
      {% endif %}
      {% if sideContent.pressListing %}
        {% set pressListing = sideContent.pressListing %}
        {% set sidebarHeading = pressListing.sidebarHeading|merge({'level': level }) %}
        {% set pressListing = pressListing|merge({'sidebarHeading': sidebarHeading }) %}
        {% include "@organisms/by-author/press-listing.twig" %}
      {% endif %}
      {% if sideContent.eventListing %}
        {% set eventListing = sideContent.eventListing %}
        {% set sidebarHeading = eventListing.sidebarHeading|merge({'level': level }) %}
        {% set eventListing = eventListing|merge({'sidebarHeading': sidebarHeading }) %}
        {% include "@organisms/by-author/event-listing.twig" %}
      {% endif %}
    </aside>
  </div>
</div>
{% endblock %}

{% block postContent %}
  {{ content.extra_node_pager }}
  {{ content.extra_org_feedback_form }}
{% endblock %}
