{#
/**
 * @file
 * Theme override to display the full view mode of the how-to page content type.
 *
 */
 #}
{% extends 'node.html.twig' %}
{% set field_customize_header_text = (node.field_customize_header_text.value == 1) ? true : false %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block preContent %}
  {# If the contextual navigation should be set for this node, then add it. #}
  {% if node.computed_log_in_links is not empty %}
    {{ contextual_log_in_links }}
  {% endif %}

  {# Check if primary indicator content exists. #}
  {% set primaryIndicators = null %}
  {% set primaryRelationshipContent = null %}
  {#
  {% if content.computed_related_to[0] %}
    {% set primaryIndicators = { "label": "part of" } %}
    {% set primaryRelationshipContent = content.computed_related_to %}
  {% endif %}
  #}
  {% set secondaryIndicators = false %}
  {% if content.field_organizations is not empty %}
    {% set secondaryIndicators = {
      "icon": "building",
      "label": "offered by",
      "groupAfter": 3
    } %}
  {% endif %}

  {% embed "@molecules/relationship-indicators.twig" with {
    "relationshipIndicators": {
      "pageTitle": node.label,
      "primary": primaryIndicators,
      "secondary": secondaryIndicators
    }
  } %}
    {% block primaryRelationship %}
      {{ primaryRelationshipContent }}
    {% endblock %}
    {% block secondaryRelationship %}
      {{ content.field_organizations }}
    {% endblock %}
  {% endembed %}
  {{ content.referencing_binders }}
  {% if translationLinks %}
    {% include "@organisms/by-author/inline-links-language.twig" with {
      "inlineLinks": translationLinks
    } %}
  {% endif %}
  {% set pageHeader = pageHeader|merge({'level': level}) %}
  {% include "@organisms/by-template/page-header.twig" %}
  {% include "@organisms/by-template/page-header-addons.twig" %}
{% endblock %}

{% block main %}
    {# Increase heading number by 1 from the parent heading. #}
    {% set level = level + 1 %}

    <div class="main-content main-content--two">
      <div class="page-content">
        {% if sidebar.contactList %}
          {% set contactList = sidebar.contactList %}
          {% include "@organisms/by-author/contact-list.twig" %}
        {% endif %}
        {% set coloredHeading = {
            "text": details.contentTitle,
            "titleContext": details.titleContext,
            "color": "green",
            "level": level
          } %}
        {% include "@atoms/04-headings/colored-heading.twig" %}

        {# Increase heading number by 1 from the parent heading. #}
        {% set level = level + 1 %}

        <div class="ma__details__container">
          <div class="ma__details__sticky-nav">
            {% include "@molecules/sticky-nav.twig" %}
          </div>
          <div class="ma__details__content">
            {% block pageContent %}
              {# Below is the section for What you need. #}
              {% if node.field_how_to_what_you_need is not empty %}
                {% embed "@organisms/by-author/rich-text.twig" with {
                  "richText": {
                    "compHeading": {
                      "title": (field_customize_header_text and node.field_what_you_need_header is not empty) ? node.field_what_you_need_header.value : "What you need",
                      "id": (field_customize_header_text and node.field_what_you_need_header is not empty) ? stickyNav['anchorIDs'][node.field_what_you_need_header.value] : "what-you-need",
                      "level": level,
                      "titleContext": "for " ~ node.title.value
                    }
                  }
                } %}
                  {% block rteElements %}
                    {{ content.field_how_to_what_you_need }}
                  {% endblock %}
                {% endembed %}
              {% endif %}
              {% if pageContent.tabularData %}
                {% set tabularData = pageContent.tabularData %}
                {% set tabularData = tabularData|merge({'compHeading': {
                  'title': tabularData.compHeading.title,
                  'titleContext': tabularData.compHeading.titleContext,
                  'level': level,
                  'id': tabularData.compHeading.id
                }}) %}
                {% include "@organisms/by-author/tabular-data.twig" %}
              {% endif %}
              {% if pageContent.stepsUnordered %}
                {% set stepsUnordered = pageContent.stepsUnordered %}
                {% set stepsUnordered = stepsUnordered|merge({'compHeading': {
                  'title': stepsUnordered.compHeading.title,
                  'titleContext': stepsUnordered.compHeading.titleContext,
                  'level': level,
                  'id': stepsUnordered.compHeading.id
                }}) %}
                {% include "@organisms/by-author/steps-unordered.twig" %}
              {% endif %}
              {# Below is the Next steps section which is using the following twigs: field--field-how-to-next-steps.html.twig and paragraph--next-step.html.twig. #}
              {% if content.field_how_to_next_steps|render is not empty %}
                {% embed "@organisms/by-author/steps-ordered.twig" with {
                  "stepsOrdered": {
                    "compHeading": {
                      "title": (field_customize_header_text and node.field_next_steps_header is not empty) ? node.field_next_steps_header.value : "Next steps",
                      "id": (field_customize_header_text and node.field_next_steps_header is not empty) ? stickyNav['anchorIDs'][node.field_next_steps_header.value] : "next-steps",
                      "level": level,
                      "titleContext": "for " ~ node.title.value
                    }
                  }
                } %}
                  {% block actionSteps %}
                    {{ content.field_how_to_next_steps }}
                  {% endblock %}
                {% endembed %}
              {% endif %}
              {# Below is the section for More info. #}
              {% if content.field_how_to_more_info|render is not empty %}
                {% embed "@organisms/by-author/rich-text.twig" with {
                  "richText": {
                    "compHeading": {
                      "title": (field_customize_header_text and node.field_more_info_header is not empty) ? node.field_more_info_header.value : "More info",
                      "id": (field_customize_header_text and node.field_more_info_header is not empty) ? stickyNav['anchorIDs'][node.field_more_info_header.value] : "more-info",
                      "level": level,
                      "titleContext": "for " ~ node.title.value
                    }
                  }
                } %}
                  {% block rteElements %}
                    {{ content.field_how_to_more_info }}
                  {% endblock %}
                {% endembed %}
              {% endif %}
              {# Below is the section for Manage your account. #}
              {% if content.field_manage_your_account|render is not empty %}
                {% embed "@organisms/by-author/descriptive-links-wrapper.twig" with {
                  "descriptiveLinks": {
                    "compHeading": {
                      "title": (field_customize_header_text and node.field_manage_your_account_header is not empty) ? node.field_manage_your_account_header.value : "Manage your account",
                      "id": (field_customize_header_text and node.field_manage_your_account_header is not empty) ? stickyNav['anchorIDs'][node.field_manage_your_account_header.value] : "manage-your-account",
                      "level": level,
                      "titleContext": "for " ~ node.title.value
                    }
                  }
                } %}
                  {% block descriptiveLinks %}
                    {{ content.field_manage_your_account }}
                  {% endblock %}
                {% endembed %}
              {% endif %}
              {# Below is the section for Downloads. #}
              {% if content.field_how_to_files|render is not empty %}
                {# Using the field_how_to_files view mode to display the URL for doucments in this section. #}
                {%  embed "@organisms/by-author/form-downloads.twig" with {
                  "formDownloads": {
                    "compHeading": {
                      "title": (field_customize_header_text and node.field_downloads_header is not empty) ? node.field_downloads_header.value : "Downloads",
                      "id": (field_customize_header_text and node.field_downloads_header is not empty) ? stickyNav['anchorIDs'][node.field_downloads_header.value] : "downloads",
                      "level": level,
                      "titleContext": "for " ~ node.title.value
                    }
                  }
                } %}
                  {% block formDownloadLinks %}
                    {{ content.field_how_to_files }}
                  {% endblock %}
                {% endembed %}
              {% endif %}
              {% if pageContent.contactList %}
                {% set contactList = pageContent.contactList %}
                {% set contactList = contactList|merge({'compHeading': {
                  'title': contactList.compHeading.title,
                  'titleContext': contactList.compHeading.titleContext,
                  'level': level,
                  'id': contactList.compHeading.id
                }}) %}
                {% include "@organisms/by-author/contact-list.twig" %}
              {% endif %}
              {% if sidebar.linkList %}
                {% set linkList = sidebar.linkList %}
                {% set linkList = linkList|merge({'sidebarHeading': {"title": "Related"}}) %}
                {% include "@organisms/by-author/link-list.twig" %}
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>

      <aside class="sidebar sidebar--colored">
        {# Decrease heading number by 1 from the items under the Details. #}
        {% set level = level - 1 %}
        {% if sidebar.contactList.contacts %}
          <div class="ma__details__sidebar-contact">
            {% set contactList = sidebar.contactList %}
            {% set contactList = contactList|merge({'compHeading': {
              'title': contactList.compHeading.title,
              'titleContext': contactList.compHeading.titleContext,
              'level': level,
              'id': contactList.compHeading.id,
              'sub': false
            }}) %}
            {% include "@organisms/by-author/contact-list.twig" %}
          </div>
        {% endif %}
        {% if sidebar %}
          <div class="ma__details__sidebar">
            {% block sidebar %}
              {% if sidebar.linkList %}
                {% set linkList = sidebar.linkList %}
                {% set compHeading = linkList.compHeading|merge({'level': level }) %}
                {% set linkList = linkList|merge({'compHeading': compHeading }) %}
                {% include "@organisms/by-author/link-list.twig" %}
              {% endif %}
            {% endblock %}
          </div>
        {% endif %}
      </aside>
    </div>
{% endblock %}

{% block postContent %}
  {{ content.extra_node_pager }}
  {{ content.extra_org_feedback_form }}
{% endblock %}
