{#
/**
 * @file
 * Theme override to display the full view mode of the Org page content type.
 */
#}
{% extends 'node.html.twig' %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block preContent %}
  {# If the contextual navigation should be set for this node, then add it. #}
  {% if node.field_application_login_links is not empty %}
    {{ contextual_log_in_links }}
  {% endif %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  {% if pageBanner and node.field_subtype.value == 'General Organization' or node.field_subtype.value == 'Boards' or node.field_banner_image is empty %}
    {% include "@organisms/legacy-page-banner/page-banner-legacy.twig" %}
  {% elseif node.field_banner_image is not empty %}
    {% set personUrl = false %}
    {% if node.field_person_bio.entity.field_publish_bio_page.value %}
      {% set personUrl = url('entity.node.canonical', {
        'node': node.field_person_bio.target_id
      }) %}
    {% endif %}
    {% set secondaryPerson = false %}
    {% if node.field_secondary_person_bio is not empty %}
      {% set secondaryUrl = false %}
      {% if node.field_secondary_person_bio.entity.field_publish_bio_page.value %}
        {% set secondaryUrl = url('entity.node.canonical', {
          'node': node.field_secondary_person_bio.target_id
        }) %}
      {% endif %}
      {% set secondaryPerson = {
        "text": node.field_secondary_person_bio.entity.field_person_first_name.value ~ " " ~ node.field_secondary_person_bio.entity.field_person_last_name.value,
        "href": secondaryUrl,
        "inverse": true,
        "description": node.field_secondary_person_bio.entity.field_person_role_title.value,
        "info": ""
      } %}
    {% endif %}
    {% set bannerImage = file_url(node.field_banner_image.entity.fileuri ?? '') %}
    {% set subtext = node.field_title_sub_text is not empty ? node.field_title_sub_text.value : '' %}
    {% include "@organisms/page-banner/page-banner.twig" with {
      "pageBanner": {
        "image": bannerImage,
        "theme": "c-primary-alt",
        "renderImageOnMobile": true,
        "pageHeader": {
          "title": node.title.value,
          "titleSubText": subtext,
          "description": content.field_service_lede,
          "links": [
            {
              "text": node.field_person_bio.entity.field_person_first_name.value ~ " " ~ node.field_person_bio.entity.field_person_last_name.value,
              "href": personUrl,
              "inverse": true,
              "description": node.field_person_bio.entity.field_person_role_title.value,
              "info": "",
            },
            secondaryPerson,
          ]
        }
      }
    } %}
  {% endif %}

  {% embed "@organisms/by-template/organization-navigation.twig" with {
    organizationNavigation: {
      orgNavTitle: node.label,
      orgNavAbbrev: '',
      orgId: slugified_title,
      orgSearch: true,
      orgNav: org_nav
    },
  } %}
  {% endembed %}

{% endblock %}

{% block main %}
  <div class="main-content{{ _sidebar is not empty ? ' main-content--two': ' main-content--full'}}">
    <div class="page-content">
      {# Short Description #}
      {% if node.field_hide_short_description is not defined or node.field_hide_short_description.0.value == 0 %}
        {% block shortDescription %}
          {{ content.field_sub_title }}
        {% endblock %}
      {% endif %}
      {% block pageContent %}
        {{ content.field_organization_sections }}

        {% if node.field_more_about_agency_link is not empty
          or node.field_more_about_leadership is not empty
          or node.field_org_directory_page is not empty
          or node.field_career_opportunities is not empty
          or node.field_get_updates_links is not empty
          or node.field_public_records_link is not empty
        %}
          {% set heading = {
            "title": node.title.value ~ ' information',
            "id": "",
            "borderless": true
          } %}
          {% embed "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": heading,
            "stackedRow": {
              "borderless": true,
              "modifier" : "no-sidebar"
            },
            "externalSidebar": true
          } %}
            {% block stackedRowContentOverride %}
              <section class="ma__link-list">
                <div class="ma__link-list__container">
                  <ul class="ma__link-list__items ma__link-list__items">
                    {{ content.field_more_about_agency_link }}
                    {{ content.field_more_about_leadership }}
                    {{ content.field_org_directory_page }}

                    {% if node.field_career_opportunities is not empty %}
                      <li class="ma__link-list__item">
                        {{ content.field_career_opportunities }}
                      </li>
                    {% endif %}

                    {% if node.field_get_updates_links is not empty %}
                      {% for key,value in node.field_get_updates_links.value %}
                        <li class="ma__link-list__item">
                          {{ content.field_get_updates_links[key] }}
                        </li>
                      {% endfor %}
                    {% endif %}

                    {% if node.field_public_records_link is not empty %}
                      {% for key,value in node.field_public_records_link.value %}
                        <li class="ma__link-list__item">
                          {{ content.field_public_records_link[key] }}
                        </li>
                      {% endfor %}

                    {% endif %}
                  </ul>
                </div>
              </section>
            {% endblock %}
          {% endembed %}
        {% endif %}

      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block postContent %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  {% if content.field_image_credit is not empty %}
    {{ content.field_image_credit }}
  {% endif %}
  {{ content.extra_org_feedback_form }}
{% endblock %}

{% block schemaContent %}
  {% if schema.governmentOrganization %}
    {% set governmentOrganization = schema.governmentOrganization %}
    {% include "@meta/schema/government-organization.twig" %}
  {% endif %}
{% endblock %}
