{#
/**
 * @file
 * Theme override to display the full view mode of the Org page content type.
 */
 #}
{% extends 'node.html.twig' %}

{# Set top heading level for the page. #}
{% set level = 1 %}

{% block preContent %}
  {# If the contextual navigation should be set for this node, then add it. #}
  {% if node.field_application_login_links is not empty %}
    {{ contextual_log_in_links }}
  {% endif %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  {% if pageBanner and node.field_subtype.value == 'General Organization' or node.field_subtype.value == 'Boards' or node.field_banner_image is empty %}
    {% include "@organisms/by-template/page-banner.twig" %}
  {% elseif node.field_banner_image is not empty %}
    {% set personUrl = false %}
    {% if node.field_person_bio.entity.field_publish_bio_page.value %}
      {% set personUrl = url('entity.node.canonical', {
        'node': node.field_person_bio.target_id
      }) %}
    {% endif %}
    {% set secondaryPerson = false %}
    {% if node.field_secondary_person_bio is not empty %}
      {% set secondaryUrl = false %}
      {% if node.field_secondary_person_bio.entity.field_publish_bio_page.value %}
        {% set secondaryUrl = url('entity.node.canonical', {
          'node': node.field_secondary_person_bio.target_id
        }) %}
      {% endif %}
      {% set secondaryPerson = {
        "text": node.field_secondary_person_bio.entity.field_person_first_name.value ~ " " ~ node.field_secondary_person_bio.entity.field_person_last_name.value,
        "href": secondaryUrl,
        "description": node.field_secondary_person_bio.entity.field_person_role_title.value,
        "info": ""
      } %}
    {% endif %}
    {% set bannerImage = file_url(node.field_banner_image.entity.fileuri) %}
    {% set subtext = node.field_title_sub_text is not empty ? node.field_title_sub_text.value : '' %}
    {% include "@organisms/by-template/page-banner.twig" with {
      "pageBanner": {
        "bgWide": bannerImage,
        "bgNarrow": bannerImage,
        "size": "large",
        "icon": null,
        "title": node.title.value,
        "titleSubText": subtext,
        "primaryLink": {
          "text": node.field_person_bio.entity.field_person_first_name.value ~ " " ~ node.field_person_bio.entity.field_person_last_name.value,
          "href": personUrl,
          "description": node.field_person_bio.entity.field_person_role_title.value,
          "info": "",
        },
        "secondaryLink": secondaryPerson,
      },
    }%}
  {% endif %}

  {# Org Nav - "I want to..." tab contents. #}
  {% set iWantToTabContents = false %}
  {% if content.extra_org_nav_featured_services|render or
    content.extra_org_nav_featured_topics|render or
    content.field_application_login_links|render or
    node.field_ref_actions_6|length %}
    {% set iWantToTabContents = true %}
  {% endif %}

  {# Org Nav - About tab contents. #}
  {% set aboutTabContents = {} %}
  {% set subtype = node.field_subtype_value %}
  {% if subtype == 'Elected Official' and content.extra_org_nav_more_agency_link|render %}
    {% set aboutTabContents = aboutTabContents|merge({ moreAgencyLink: content.extra_org_nav_more_agency_link }) %}
  {% elseif node.field_more_about_agency_link is not empty %}
    {% set aboutTabContents = aboutTabContents|merge({ moreAgencyLink: content.field_more_about_agency_link }) %}
  {% endif %}

  {% if subtype == 'Boards' %}
    {# Board members heading link with anchor to section (from Boards paragraph). #}
    {% set boards_section_title = node.field_boards.entity.field_heading.value %}
    {% if boards_section_title %}
      {% set aboutTabContents = aboutTabContents|merge({ boardSectionTitle: boards_section_title }) %}
    {% endif %}
  {% elseif node.field_more_about_leadership is not empty %}
    {% set aboutTabContents = aboutTabContents|merge({ moreAboutLeadership: content.field_more_about_leadership }) %}
  {% endif %}

  {% if node.field_org_directory_page is not empty %}
    {% set aboutTabContents = aboutTabContents|merge({ orgDirectoryPage: content.field_org_directory_page  }) %}
  {% endif %}

  {% if node.field_career_opportunities is not empty %}
    {% set aboutTabContents = aboutTabContents|merge({ careerOpportunities: content.field_career_opportunities  }) %}
  {% endif %}

  {# Org Nav - "Contact us" tab contents. #}
  {% set contactUsTabContents = false %}
  {% if content.extra_org_nav_contact_us|render or
    node.field_org_directory_page is not empty or
    node.field_get_updates_links is not empty or
    node.field_public_records_link is not empty
  %}
    {% set contactUsTabContents = true %}
  {% endif %}

  {# Our Organizations. #}
  {% set ourOrganizationsHasContent = false %}
  {% if node.field_org_our_orgs is not empty %}
    {% set ourOrganizationsHasContent = true %}
  {% endif %}

  {# News. #}
  {% set newsHasContent = false %}
  {% if news %}
    {% set newsHasContent = true %}
  {% endif %}

  {# Locations. #}
  {% set locationsHasContent = false %}
  {% if node.field_org_ref_locations is not empty %}
    {% set locationsHasContent = true %}
  {% endif %}

  {% set orgNavTabs = [
    iWantToTabContents,
    aboutTabContents,
    contactUsTabContents,
    ourOrganizationsHasContent,
    newsHasContent,
    locationsHasContent,
  ] %}

  {% set itemsWithContent = 0 %}
  {% for item in orgNavTabs if itemsWithContent < 2 %}
    {% if item %}
      {% set itemsWithContent = itemsWithContent + 1 %}
    {% endif %}
  {% endfor %}

  {# Only show org sub nav if there are at least 2 items with content. #}
  {% if itemsWithContent >= 2 %}
    {% embed "@organisms/by-template/organization-navigation.twig" with {
      organizationNavigation: {
        orgNavTitle: node.label,
        orgNavAbbrev: '',
        orgId: slugified_title,
        orgSearch: true,
        orgNav: [
          {
            title: 'I want to'|t ~ '...',
            section: 'i-want-to',
            subNav: iWantToTabContents,
          },
          {
            title: 'About'|t,
            section: 'about',
            subNav: aboutTabContents is not empty,
          },
          {
            title: 'Contact us'|t,
            section: 'contact-us',
            subNav: contactUsTabContents,
          },
        ],
      },
    } %}
      {% block iWantToTab %}
        <div class="ma__organization-navigation__subitem">
          {% embed "@organisms/by-template/org-nav-i-want-to-menu.twig" %}
            {% block findService %}
              {% if content.extra_org_nav_featured_services|render or node.field_ref_actions_6|length %}
                <div class="ma__org-nav-i-want-to-section ma__org-nav-i-want-to__findService">
                  {% if content.extra_org_nav_featured_services|render is not empty %}
                    {# Display the links from "Featured Services" and "More services". #}
                    {{ content.extra_org_nav_featured_services }}
                  {% endif %}
                </div>
              {% endif %}
            {% endblock %}

            {% block learnAbout %}
              {% if content.extra_org_nav_featured_topics|render %}
                <div class="ma__org-nav-i-want-to-section ma__org-nav-i-want-to__learnAbout">
                  {% include '@atoms/04-headings/comp-heading.twig' with {
                    compHeading: {
                      title: 'Learn more about'|t ~ '...',
                      sub: true,
                    },
                  } %}
                  <div class="ma__link-list__container">
                    <ul class="ma__link-list__items ma__link-list__items--no-bullets">
                      {{ content.extra_org_nav_featured_topics }}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endblock %}

            {% block login %}
              {% if node.field_application_login_links is not empty %}
                <div class="ma__org-nav-i-want-to-section ma__org-nav-i-want-to__login">
                  {{ content.extra_org_nav_application_login_links }}
                </div>
              {% endif %}
            {% endblock %}

          {% endembed %}
        </div>
      {% endblock %}

      {% block aboutTab %}
        <div class="ma__organization-navigation__subitem">
          {% embed "@organisms/by-author/link-list.twig" with {
            linkList: {
              hideBullets: true,
            },
          } %}
            {% block linkListDecorativeLink %}
              {{ aboutTabContents.moreAgencyLink }}

              {% if aboutTabContents.boardSectionTitle %}
                <li class="ma__link-list__item">
                  {% include "@atoms/decorative-link.twig" with {
                    decorativeLink: {
                      text: aboutTabContents.boardSectionTitle,
                      href: '#board-members',
                    },
                  } %}
                </li>
              {% else %}
                {{ aboutTabContents.moreAboutLeadership }}
              {% endif %}

              {{ aboutTabContents.orgDirectoryPage }}
              {{ aboutTabContents.careerOpportunities }}
            {% endblock %}
          {% endembed %}
        </div>
      {% endblock %}

      {% block contactTab %}
        {% set findContact = {} %}
        {% if node.field_org_directory_page is not empty %}
          {% set findContact = {
            link: {
              href: true,
            },
          }  %}
        {% endif %}

        {% set newsletter = {} %}
        {% if node.field_get_updates_links is not empty %}
          {% set newsletter = {
            link: {
              href: true,
            },
          }  %}
        {% endif %}

        {% set publicRecords = {} %}
        {% if node.field_public_records_link is not empty %}
          {% set publicRecords = {
            link: {
              href: true,
            },
          }  %}
        {% endif %}
        <div class="ma__organization-navigation__subitem">
          {% embed '@organisms/by-template/org-nav-contact-menu.twig' with {
            customItems: {
              findContact: findContact,
              newsletter: newsletter,
              publicRecords: publicRecords,
            },
          } %}
            {# Top contact row here. #}
            {% block contactTopRow %}
              {% set compHeading = {
                title: node.label,
              } %}
              {% include "@atoms/04-headings/comp-heading.twig" %}
              {{ content.extra_org_nav_contact_us }}
            {% endblock %}

            {# Bottom row. #}
            {% block findContact %}
              {% if node.field_org_directory_page is not empty %}
                <div class="custom-options__find-contact custom-option-item">
                  <span class="custom-option-item__label">
                  {{ icon('search') }} {{ 'Find a contact'|t }}
                </span>
                  <ul class="ma__link-list__items ma__link-list__items--no-bullets">
                    {{ content.field_org_directory_page }}
                  </ul>
                </div>
              {% endif %}
            {% endblock %}

            {% block getUpdates %}
              {% if node.field_get_updates_links is not empty %}
                <div class="custom-options__get-updates custom-option-item">
                  <span class="custom-option-item__label">
                    {{ icon('alert') }} {{ 'Get updates'|t }}
                  </span>
                    <ul class="ma__link-list__items ma__link-list__items--no-bullets">
                      {{ content.field_get_updates_links }}
                    </ul>
                </div>
              {% endif %}
            {% endblock %}

            {% block recordsRequest %}
              {% if node.field_public_records_link is not empty %}
                <div class="custom-options__prr custom-option-item">
                  <span class="custom-option-item__label">
                    {{ icon('lg-scroll') }} {{ 'Public records request'|t }}
                  </span>
                  <ul class="ma__link-list__items ma__link-list__items--no-bullets">
                    {{ content.field_public_records_link }}
                  </ul>
                </div>
              {% endif %}
            {% endblock %}
          {% endembed %}
        </div>
      {% endblock %}
    {% endembed %}
  {% endif %}
{% endblock %}

{% block main %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  <div class="stacked-row-content">

    {% set subtype = node.field_subtype.value %}
    {# General Organization #}
    {% if subtype == 'General Organization' %}
      {# Short Description #}
      {% block shortDescription %}
        {{ content.field_sub_title }}
      {% endblock %}

      {# Featured Items Mosaic #}
      {% block featuredItemMosaic %}
        {% if node.field_org_featured_items is not empty %}
          {% embed "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": {
              "title": "",
              "id": "",
            }
          } %}
            {% block stackedRowContentOverride %}
              {{ content.field_org_featured_items }}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}

      {# Contact / Org Logo #}
      {% block contactAndLogo %}
        {% if node.field_ref_contact_info_1 is not empty %}
          {% embed "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": {
              "title":"",
              "id":""
            }
          } %}
            {% block stackedRowContentOverride %}
              {% set image = false %}
              {% if node.field_sub_brand is not empty %}
                {% set image = {
                  "alt": node.field_sub_brand.alt,
                  "src": file_url(node.field_sub_brand.entity.fileuri),
                  "height": "130",
                  "width": "230",
                } %}
              {% endif %}
              {% embed "@organisms/by-author/contact-list.twig" with {
                "contactList": {
                  "viewSpecific": false,
                  "compHeading": {
                    "title": "Contact Us",
                    "sub": "",
                    "color": "",
                    "id": "contact us",
                    "centered": "",
                    "level": level
                  },
                  "image": image
                }
              } %}
                {% block contactListContacts %}
                  {{ content.field_ref_contact_info_1|merge({'#level': level + 1 }) }}
                {% endblock %}
              {% endembed %}
              {% set electedDivider = node.field_subtype.value == 'Elected Official' and node.field_org_our_orgs is not empty %}
              {% set genDivider = node.field_subtype.value == 'General Organization' and node.body is not empty %}
              {% if electedDivider or genDivider %}
                {% include "@atoms/divider.twig" %}
              {% endif %}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}

      {# Who we serve #}
      {# @todo Remove sidebar property when overrideSideBar updates class. #}
      {% set sidebar = "" %}
      {% if node.field_social_links is not empty and node.field_subtype.value == 'General Organization' %}
        {% set sidebar = [true] %}
      {% endif %}
      {% block whoWeServe %}
        {% if node.body is not empty %}
          {% embed "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": {
              "title": "Who we serve"|t,
              "overrideSideBar": node.field_social_links is not empty and node.field_subtype.value == 'General Organization',
              "sideBar": sidebar
            }
          } %}
            {% block stackedRowContentOverride %}
              {{ content.body }}
              {% if node.field_subtype.value == 'Elected Official' and node.field_ref_contact_info_1 is not empty %}
                {% include "@atoms/divider.twig" %}
              {% endif %}
            {% endblock %}
            {% block sidebar %}
              {% if node.field_subtype.value != 'Elected Official' or node.field_about is empty %}
                {{ content.field_social_links }}
              {% endif %}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}

      {# Our organizations #}
      {% if node.field_org_our_orgs is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {{ content.field_org_our_orgs }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Services #}
      {% block servicesSection %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {% if node.field_links_actions_3 is not empty or node.field_ref_actions_6 is not empty %}
              {% set featured = node.field_links_actions_3 is not empty %}
              {% set other = node.field_ref_actions_6 is not empty %}
              {% set seeAll = false %}
              {% if node.field_ref_actions_6 | length > 6 %}
                {% set seeAll = {
                  "text": "See all actions & services"|t,
                  "href": url ~ "/services",
                } %}
              {% endif %}
              {% set actionFinder = {
                "title": "What would you like to do?"|t,
                "featuredHeading": featured ? "Top actions & services"|t : "",
                "featuredLinks": featured,
                "generalHeading": featured and other ? "More actions & services"|t : "",
                "links": other,
                "seeAll": seeAll,
                "color": "green",
              } %}
              {% embed "@organisms/by-author/action-finder.twig" with {
                "actionFinder": actionFinder
              } %}
                {% block featuredLinksList %}
                  {{ content.field_links_actions_3 }}
                {% endblock %}
                {% block actionFinderLinksList %}
                  {{ content.field_ref_actions_6 }}
                {% endblock %}
              {% endembed %}
            {% endif %}
          {% endblock %}
        {% endembed %}
      {% endblock %}

      {# Featured Topics #}
      {% block featuredTopics %}
        {% if node.field_ref_card_view_6 is not empty %}
          {% embed "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": {
              "title":"",
              "id":""
            }
          } %}
            {% block stackedRowContentOverride %}
              {% embed "@organisms/by-author/sections-three-up.twig" with {
                "sectionThreeUp": {
                  "compHeading": {
                    "title": "Featured Topics",
                    "sub": "",
                    "color": "",
                    "id": "",
                    "centered": "",
                    "titleContext": "for " ~ node.title.value,
                    "level": level
                  }
                }
              } %}
                {% block sectionLinks %}
                  {{ content.field_ref_card_view_6|merge({'#level': level + 1 }) }}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endif %}
      {% endblock %}

      {# Recent news & announcements #}
      {% block recentNews %}
        {% if news %}
          {% include "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": news,
          } %}
        {% endif %}
      {% endblock %}

      {% block events %}
        {% if events %}
          {% include "@organisms/by-author/stacked-row-section.twig" with {
            "stackedRowSection": events
          } %}
        {% endif %}
      {% endblock %}

    {# Elected Officials #}
    {% elseif subtype == 'Elected Official' %}
      {# Short Description #}
      {{ block('shortDescription') }}

      {# Featured Items Mosaic #}
      {{ block('featuredItemMosaic') }}

      {# About section #}
      {% if node.field_about is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {{ content.field_about }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Who we serve #}
      {{ block('whoWeServe') }}

      {# Contact and Logo #}
      {{ block('contactAndLogo') }}

      {# Our organizations #}
      {% if node.field_org_our_orgs is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {{ content.field_org_our_orgs }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Services Section #}
      {{ block('servicesSection') }}

      {# Featured Topics #}
      {{ block('featuredTopics') }}

      {# Recent news & announcements #}
      {{ block('recentNews') }}

      {# Events #}
      {{ block('events') }}

    {% elseif subtype == 'Boards' %}
      {# Short Description #}
      {{ block('shortDescription') }}

      {# Featured Items Mosaic #}
      {{ block('featuredItemMosaic') }}

      {# About section #}
      {% if node.field_about is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {{ content.field_about }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Contact and Logo #}
      {{ block('contactAndLogo') }}

      {# About Us #}
      {% set sidebar = "" %}
      {% if node.field_social_links is not empty %}
        {% set sidebar = [true] %}
      {% endif %}

      {% if node.body is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title": "About us"|t,
            "overrideSideBar": node.field_social_links is not empty and node.field_subtype.value == 'General Organization',
            "sideBar": sidebar
          }
        } %}
          {% block stackRowTitle %}
            <div class="ma__stacked-row__container">
              <div class="ma__stacked-row__title">
                {% set compHeading = {
                  "title": stackedRowSection.title,
                  "sub": "",
                  "color": "",
                } %}
                {% include "@atoms/04-headings/comp-heading.twig" %}
              </div>
            </div>
          {% endblock %}

          {% block stackedRowContentOverride %}
            {{ content.body }}
          {% endblock %}
          {% block sidebar %}
            {% if node.field_about is empty %}
              {{ content.field_social_links }}
            {% endif %}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Our organizations #}
      {% if node.field_org_our_orgs is not empty %}
        {% embed "@organisms/by-author/stacked-row-section.twig" with {
          "stackedRowSection": {
            "title":"",
            "id":""
          }
        } %}
          {% block stackedRowContentOverride %}
            {{ content.field_org_our_orgs }}
          {% endblock %}
        {% endembed %}
      {% endif %}

      {# Board Members #}
      {{ content.field_boards|merge({'#level': level }) }}

      {# Events #}
      {{ block('events') }}

      {# Services Section #}
      {{ block('servicesSection') }}

      {# Recent news & announcements #}
      {{ block('recentNews') }}

      {# Featured Topics #}
      {{ block('featuredTopics') }}
    {% endif %}

    {# Events, Locations, and Related Organizations are still preprocessed in and are available for all types. #}
    {% for stackedRowSection in stackedRowSections %}
      {% set stackedRowSection = stackedRowSection|merge({'level': level}) %}
      {% include "@organisms/by-author/stacked-row-section.twig" %}
      {# Add Google Maps API only when a map is included in the page. #}
      {% if stackedRowSection.pageContent[0].path == '@organisms/by-author/mapped-locations.twig' %}
        {{ attach_library('mass_map/google-map-api') }}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block postContent %}
  {# Increase heading number by 1 from the parent heading. #}
  {% set level = level + 1 %}
  {% if content.field_image_credit is not empty %}
    {{ content.field_image_credit }}
  {% endif %}
  {{ content.extra_org_feedback_form }}
{% endblock %}
{% block schemaContent %}
  {% if schema.governmentOrganization %}
    {% set governmentOrganization = schema.governmentOrganization %}
    {% include "@meta/schema/government-organization.twig" %}
  {% endif %}
{% endblock %}
