{% set title = content.field_service_section_heading|field_value %}

{% set enhanced_header %}
  {% if not hide_heading and title is not empty %}
      <header class="ma__action-finder__header">
        <h2 class="ma__action-finder__title">
          {{ title }}
        </h2>
      </header>
  {% endif %}
{% endset %}

{% set body %}
  {% for service_component in service_components %}
    {% if service_component.group == 'default' %}
      {% embed "@organisms/by-author/rich-text.twig" %}
        {% block rteElements %}
          {% for c in service_component.items %}
            {{ c|view }}
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% elseif service_component.group == 'self' %}
      {% embed "@organisms/by-author/rich-text.twig" %}
        {% block rteElements %}
          {{ service_component.items|view }}
        {% endblock %}
      {% endembed %}
    {% elseif service_component.group == 'contained' %}
      {% embed "@organisms/by-author/rich-text.twig" with {'headerIndent' : 'om__contained-component'} %}
        {% block rteElements %}
          {{ service_component.items|view }}
        {% endblock %}
      {% endembed %}
    {% else %}
      {{ service_component[0]|view }}
    {% endif %}
  {% endfor %}
{% endset %}

{% set enhanced_style %}
  <section class="ma__action-finder ma__action-finder--no-background ma__action-finder--blue">
    <div class="ma__action-finder__container">
      {{ enhanced_header }}
      {{ body|raw }}
    </div>
  </section>
{% endset %}

{% set simple_header %}
  {% if not hide_heading and title is not empty %}
      <div class="ma__stacked-row__title">
        <h2 class="ma__comp-heading">
          {{ title }}
        </h2>
      </div>
  {% endif %}
{% endset %}

{% set simple_style %}
  <section class="ma__stacked-row__section  ma__stacked-row__section--borderless ma__stacked-row--restricted no-sidebar">
    <div class="ma__stacked-row__container">
      {{ simple_header }}
      {{ body|raw }}
    </div>
  </section>
{% endset %}

{{ section_style == 'simple' ? simple_style|raw : enhanced_style|raw }}
