{% set heading = { } %}
{% if paragraph.field_hide_heading is not defined or paragraph.field_hide_heading.0.value == 0 %}
  {% set heading = {
    "title": (content.field_section_long_form_heading|field_value),
    "id": heading_id,
    "borderless": true
  } %}
{% endif %}

{% set section_style_class = section_style == 'enhanced' ? 'org-section--enhanced' : 'org-section--simple' %}
{% set hide_title_class = hide_heading ? 'org-section--hidden-title' : '' %}

<section class="org-section {{ section_style_class }} {{ hide_title_class }}">
  {% embed "@organisms/by-author/stacked-row-section.twig" with {
    "stackedRowSection": heading,
    "stackedRow": {
      "borderless": true,
      "modifier" : "no-sidebar"
    },
    "externalSidebar": true
  } %}
    {% block stackRowTitle %}
      {% if heading %}
        {% if section_style == 'enhanced' %}
          {% include "@atoms/04-headings/colored-heading-from-left.twig" with {
            "coloredHeadingFromLeft": {
              "id": heading_id,
              "bgColor": "green",
              "title": (content.field_section_long_form_heading|field_value)
            }}
          %}
        {% else %}
          <div class="ma__stacked-row__container">
            <div class="ma__stacked-row__title">
              {% set compHeading = {
                "title": stackedRowSection.title,
                "sub": "",
                "color": "",
                "id": stackedRowSection.id
              }
              %}
              {% include "@atoms/04-headings/comp-heading.twig" %}
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endblock %}
    {% block stackedRowContentOverride %}
      {% for org_component in org_components %}
        {% if org_component.group == 'default' %}
          {% embed "@organisms/by-author/rich-text.twig" %}
            {% block rteElements %}
              {% for c in org_component.items %}
                {{ c|view }}
              {% endfor %}
            {% endblock %}
          {% endembed %}
        {% elseif org_component.group == 'self' %}
          {% embed "@organisms/by-author/rich-text.twig" %}
            {% block rteElements %}
              {{ org_component.items|view }}
            {% endblock %}
          {% endembed %}
        {% elseif org_component.group == 'contained' %}
          {% embed "@organisms/by-author/rich-text.twig" with {'headerIndent' : 'om__contained-component'} %}
            {% block rteElements %}
              {{ org_component.items|view }}
            {% endblock %}
          {% endembed %}
        {% else %}
          {{ org_component[0]|view }}
        {% endif %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
{# {{ dump(content) }} #}
  {{ content.field_section_long_form_addition }}
</section>
