{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - deployment_identifier: Current deployment_identifier from Drupal settings.
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{# This body class must be in place for Behat. #}
{% set body_classes = [logged_in ? 'user-logged-in'] %}
<!DOCTYPE html>
<html{{ html_attributes }} >
  <head>

    {% include directory ~ "/templates/alerts/polyfills.html.twig" %}
    {% include directory ~ "/templates/alerts/fetch.html.twig" %}

    <!-- DEPLOYMENT IDENTIFIER: {{ deployment_identifier }} -->
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    {% include directory ~ "/templates/includes/page-meta.html.twig" %}
    {# Update the version '?version=1' when changes occurs to the font files for caching. #}
    <link rel="preload" href="{{ file_url('libraries/mayflower-artifacts/assets/fonts/noto/Latin/NotoSans-VF-subset.woff2?version=1') }}" as="font" crossorigin/>

    <link rel="preload" href="{{ file_url('libraries/mayflower-artifacts/assets/fonts/noto/Latin/NotoSansItalic-VF-subset.woff2?version=1') }}" as="font" crossorigin/>
    {# Browser support banner #}
    <script>
      var $buoop = {
        required:{e:11,c:41,f:33,o:15,s:5},
        api:2021.07,
        text: "<b>Your browser ({brow_name}) is too old.</b> Things may not look or work right.  <a{up_but}>Update browser</a>  <a{ignore_but}>Ignore</a>"
      };
      function $buo_f(){
      var e = document.createElement("script");
      e.src = "//browser-update.org/update.min.js";
      document.body.appendChild(e);
      };
      try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
      catch(e){window.attachEvent("onload", $buo_f)}
    </script>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <svg-sprite-placeholder>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    {# Google Translate JS #}
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: '{{ languages }}', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        document.querySelector('#google_translate_element') !== null ? document.querySelector('#google_translate_element').classList.add('has-rendered') : '';
      }
      (function() {
        var script = document.createElement('script');
        script.src = "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
        script.async = true;
        element = document.getElementsByTagName('head')[0];
        element.appendChild(script);
      })();
    </script>
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
