{#
/**
 * @file
 * Theme override to display a page without the main tag.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - pre-content: Blocks placed in the pre-content region. (Overridden for node pages.)
 * - content - usually a fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 * - post-content: Blocks placed in the post-content region. (Overridden for node pages.)
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.pre-content: Area available for cross-content promotions or other information.
 * - page.content: The main content of the current page.
 * - page.post-content: Area available for cross-content functionality,
 *   e.g. the site feedback form
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include "@molecules/brand-banner.twig" with {
  "brandBanner": {
    "bgTheme": "dark",
    "bgColor": "c-primary-alt",
    "hasSeal": true,
    "hasToggle": true
  }
} %}
{{ page.emergency_alert }}
<div class="alert-overlay"></div>
{{ page.flag_links }}

{% set header_class = "" %}
{% if hide_main_nav %}
  {% set header_class = ' ma__header--hidden' %}
{% endif %}
{% if header_version_mixed %}
  <header class="ma__header__hamburger ma__header__mixed{{ header_class }}" id="header">
    <div class="menu-overlay"></div>
    <a class="ma__header__hamburger__skip-nav visually-hidden focusable" href="#main-content">
      {{ 'Skip to main content'|t }}
    </a>

    {{ page.header.mainnavigation_2 }}

    <div class="ma__header__container">
      <div class="ma__header__hamburger__logo" tabindex="-1">
        {% include "@atoms/09-media/site-logo.twig" %}
      </div>
      {% if not search_header_suppression_flag %}
        <div class="ma__header__hamburger__search ma__header__hamburger__search-bar js-header-search-menu">
          {% include "@molecules/header-search.twig" %}
        </div>
      {% endif %}
    </div>

    {{ page.header.mainnavigation }}

    {{ page.header | without('mainnavigation', 'mainnavigation_2', 'mainnavigation_3') }}
  </header>
{% else %}
  <header class="ma__header__hamburger{{ header_class }}" id="header">
    <div class="menu-overlay"></div>
    <a class="ma__header__hamburger__skip-nav" href="#main-content">
      {{ 'Skip to main content'|t }}
    </a>

    {{ page.header.mainnavigation_3 }}

    <div class="ma__header__container">
      <div class="ma__header__hamburger__logo" tabindex="-1">
        {% include "@atoms/09-media/site-logo.twig" %}
      </div>
      {% if not search_header_suppression_flag %}
        <div class="ma__header__hamburger__search ma__header__hamburger__search-bar js-header-search-menu">
          {% include "@molecules/header-search.twig" %}
        </div>
      {% endif %}
    </div>

    {{ page.header | without('mainnavigation', 'mainnavigation_2', 'mainnavigation_3') }}
  </header>
{% endif %}
{% block breadcrumb %}
  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}
{% endblock %}
{{ page.content }}
{% if page.footer or page.footer_navigation %}
  {% include directory ~ "/templates/includes/organisms-footer.html.twig" %}
{% endif %}
