
{#
/**
 * @file
 * Theme implementation for data listing views.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('mass_theme/views-view--collections') }}

{% set banner_style = collection is not empty and (collection.description|render is not empty or collection.bg_color != "#FFF") %}

{% set primaryRelationshipContent = content.field_primary_parent %}
{% set primaryIndicators = { "label": "part of" } %}
{% set secondaryIndicators = banner_style ? {} : {
    "label":  term.field_organizations is not empty ? "offered by" : "",
    "icon": "building",
    "groupAfter": 3
  }
%}

{% if term.field_organizations is not empty %}
  {% embed "@molecules/relationship-indicators.twig" with {
    "relationshipIndicators": {
      "pageTitle": title,
      "secondary": secondaryIndicators,
      "borderless": true
    }
  } %}

    {% block primaryRelationship %}
      {{ primaryRelationshipContent }}
    {% endblock %}
    {% block secondaryRelationship %}
      {{ content.field_organizations }}
    {% endblock %}
  {% endembed %}
{% endif %}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'main-content',
    'main-content--two main-content--reversed',
    'collections-wrapper'
  ]
%}

{% if banner_style %}
  {% set collection_content %}
    <div class="collection-header__title">
      {{ collection.title }}
    </div>
    {% if collection.description is not empty %}
      <div class="collection-header__description">
        {{ collection.description }}
      </div>
    {% endif %}
  {% endset %}

  {% set collection = (collection ?: [])|merge({"content" : collection_content}) %}

  {% include "@organisms/by-template/collection-header.twig" %}
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {#
  Using the raw filter allows special characters to render properly.
  It allows markup to render. This should be safe in this case because
  administrators and content administrators are the only users that
  can edit Collection term names.
  #}
  {% if not banner_style %}
    <h1>{{ title }}</h1>
  {% endif %}

  <aside class="sidebar">
    <button id="filter-toggle" aria-controls="filters">Show Filters</button>
    <div id="filters" class="hide">
      {{ exposed }}
    </div>
  </aside>

  <section class="page-content">
    {% if header.result %}
    <div class="ma__results-heading__container">
      <h2 class="ma__results-heading__title">
        {{ header.result }}
      </h2>
    </div>
    {% endif %}
    {{ attachment_before }}

    {% if rows -%}
      {{ rows }}
    {% elseif empty -%}
      {{ empty }}
    {% endif %}
    {{ pager }}

    {{ attachment_after }}
    {{ more }}
  </section>


  {{ feed_icons }}
</div>
