{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mass_map/google-map-api') }}
{{ attach_library('mass_theme/views-view--locations') }}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{# Set default google maps api place autocomplete result bounds, defaults to Mass. #}
{% set swLat = 40.727093 %}
{% set swLng = -73.9786 %}
{% set neLat = 43.004778 %}
{% set neLng = -69.845299 %}

<div{{ attributes.addClass(classes) }}>
  {% if pageHeader %}
    {% block preContent %}
      {% set secondaryIndicators = false %}
      {% if organizations is not empty %}
        {% set secondaryIndicators = {
          "icon": "building",
          "label": "offered by",
          "groupAfter": 3
        } %}
      {% endif %}
      {% embed "@molecules/relationship-indicators.twig" with {
        "relationshipIndicators": {
          "pageTitle": pageHeader.title,
          "primary": null,
          "secondary": secondaryIndicators
        }
      } %}
        {% block secondaryRelationship %}
          {{ organizations }}
        {% endblock %}
      {% endembed %}
      {% set pageHeader = pageHeader|merge({'headerTags': null}) %}
      {% include "@organisms/page-header/page-header.twig" %}
    {% endblock %}
  {% endif %}
  <div class="main-content main-content--full">
    <div class="page-content">
      <div class="ma__location-listing js-location-listing leaflet">
        <div class="ma__location-listing__filters">
          <section class="ma__location-filters">
            <h2 class="ma__visually-hidden">Location listing filters</h2>
            <form class="js-location-filters leaflet">
              <div class="ma__location-filters__row">
                <div class="ma__location-filters__by-location js-filter-by-location" data-ma-place-bounds-sw-lat="{{ swLat }}" data-ma-place-bounds-sw-lng="{{ swLng }}" data-ma-place-bounds-ne-lat="{{ neLat }}" data-ma-place-bounds-ne-lng="{{ neLng }}">
                  <label for="filter-by-location" class="ma__label ma__label--optional ">Search by city or zip code </label>
                  {# When the error message '#error-input' is visible, '#sr-note' is announced following the error message. #}
                  <div id="error-input" class="ma__error-msg" id="error-input">Please select an address in the suggestions.</div>
                  <div id="sr-note" class="ma__visually-hidden" aria-hidden="true">As you type, the suggested options are generated right away. Navigate them with down arrow key.  Hit Enter to select an option.</div>
                  {# Some aria attributes, e.g., aria-expanded, are omitted since they are not recognized by AT.
                     It seems Google code overrides them. #}
                  <input class="ma__input pac-target-input"
                         name="filter-by-location"
                         id="filter-by-location"
                         type="text"
                         placeholder="City, town, or ZIP code"
                         data-type="text"
                         autocomplete="list"
                         value="{{ helper }}"
                         role="combobox"
                         aria-describedby="sr-note">
                </div>
              </div>
              <fieldset class="ma__location-filters__by-tags  js-filter-by-tags">
                <legend class="ma__visually-hidden">Other options</legend>
                <div class="ma__location-filters__tag">
                  <span class="ma__input-checkbox">
                    <input type="checkbox" value="wheelchair" id="wheelchair" {% if icons %}checked{% endif %}>
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#dd3c616df2dd2f426e977cb02d1ec486"></use></svg>
                    <label for="wheelchair"><span>Wheelchair accessible</span></label>
                  </span>
                </div>
              </fieldset>
              <div class="ma__location-filters__buttons">
                <button class="ma__button ma__button--uppercase ma__location-filters__submit js-location-filters__submit" type="submit">Submit</button>
              </div>
            </form>
            <div class="hidden">
              {{ exposed }}
            </div>
          </section>
        </div>
        <div class="ma__location-listing__columns">
          <div class="ma__location-listing__container">
            <div class="ma__location-listing__map">
              <h2 class="ma__visually-hidden">{{ leafletMap.title }}</h2>
              <div id="sr-info" class="ma__visually-hidden">
                Note for screen reader users, we suggest skip the following interactive map and go to the location listing for a better user experience.
                Currently, the map is not accessible yet for a comprehensive experience.
              </div>
              <a href="#location-listing-results">skip to the location listing</a>
              <div class="ma__location-listing__sticky js-location-listing-map">
                {% set leafletMap = leafletMap %}
                {% include "@molecules/map-leaflet.twig" %}
              </div>
            </div>
            <div class="ma__location-listing__results js-location-listing-results">
              <h2 id="location-listing-results" class="ma__visually-hidden">Location Listing</h2>
              <div class="ma__results-heading js-results-heading">
                <div class="ma__results-heading__container">
                  <div class="ma__results-heading__title" role="status">{{ header }} <span class="ma__visually-hidden">&nbsp; for {{ pageHeader.title }}</span></div>
                  {% if icons or helper %}
                    <fieldset class="ma__results-heading__tags">
                      <legend class="ma__visually-hidden">Clear the active filters with the following buttons.</legend>
                    {% if helper %}
                      <button type="button" class="ma__results-heading__tag js-results-heading-tag" data-ma-filter-type="location">{{ helper }}</button>
                    {% endif %}
                    {% if icons %}
                      <button type="button" class="ma__results-heading__tag js-results-heading-tag" data-ma-filter-type="tag">{{ 'Wheelchair accessible'|t }}</button>
                    {% endif %}
                      <button type="button" class="ma__results-heading__clear js-results-heading-clear">Clear all</button>
                    </fieldset>
                  {% endif %}
                </div>
              </div>

              <ul class="ma__image-promos js-image-promos">
                {{ rows }}
                {{ empty }}
              </ul>
              <div class="attachment">
                <div class="views-summary">
                  {{ pager }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
