{#
/**
 * @file
 * Theme override of a link with separate title and URL elements.
 *
 * Available variables:
 * - link: The link that has already been formatted by l().
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_link_separate()
 */
#}
{% if embed_type == 'connected_apps' %}
  {{ attach_library('mass_theme/tableau_connected_app') }}
  <div class="ma_tableau_item" style="max-width:100%">
    <tableau-viz src="{{ url }}" toolbar="bottom" hide-tabs data-token-url="{{ token_url }}"></tableau-viz>
  </div>
{% else %}
  {{ attach_library('mass_theme/tableau') }}
  <div class="ma_tableau_container" style="max-width:100%">
    <div class="ma_tableau_item" id="{{ randId }}" data-tableau-url="{{ url }}"></div>
  </div>
{% endif %}
